* {
    margin: 0;
    padding: 0;
}

header {
    height: 100%;
    background-image: url("images/donation4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.banner {
    padding: 180px 400px;
}

.banner-title {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
}

.banner-sub-title {
    margin-top: 20px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.banner-btn {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 16px 12px;
    border: none;
    border-radius: 5px;
    background-color: #FF5959;
    margin-top: 30px;
    font-weight: 700;
}

.donate {
    margin-top: 130px;
}

.donate-title {
    color: black;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
}

.donate-description {
    margin-top: 20px;
    color: #707070;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 0;
}

.donate ul {
    display: flex;
    margin-top: 50px;
    gap: 35px;
    justify-content: center;
}

.donate ul li {
    list-style: none;
    padding: 30px 15px;
    background-color: #FAFAFA;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: gray;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
    text-align: center;
}

.donate ul li:hover {
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    border-radius: 5px;
    color: rgb(183, 52, 52);
}

.donate-extra {
    margin-top: 60px;
    padding: 20px 0;
    color: #B3B3B3;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.btn {
    margin-bottom: 80px;
    text-align: center;
}

.donate-type-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.type-item-food {
    margin: 15px;
    width: 360px;
    height: 352px;
    margin-top: 50px;
    border: 5px;
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.1);
}

.type-item-shelter {
    margin: 15px;
    width: 360px;
    height: 352px;
    margin-top: 50px;
    border: 2px;
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.1);
}

.type-item-education {
    margin: 15px;
    width: 360px;
    height: 352px;
    margin-top: 50px;
    border: 2px;
    border-radius: 5px;
    background: #FFF4D6;
}

.type-img {
    padding-top: 63px;
    padding-left: 23px;
}

.type-title {
    padding-top: 32px;
    padding-left: 23px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: black;
}

.type-description {
    padding-top: 16px;
    padding-left: 23px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.live-depend-container {
    display: flex;
    margin-top: 130px;
    gap: 70px;
    justify-content: center;
}

.live-title {
    margin-top: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
}

.live-description {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}

.live-img {
    width: 456px;
    height: 477px;
}

.live-btn {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 16px 12px;
    border: none;
    border-radius: 5px;
    background-color: #FF5959;
    margin-top: 30px;
    font-weight: 700;
}

.get-my-update-container {
    margin-top: 130px;
    text-align: center;
}

.update-description {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;
}

.input-field {
    width: 809px;
    height: 200px;
    margin: auto;
    justify-content: center;
    background: #FFF4D6;
}

.input-field form {
    margin-top: 100px;
}

input {
    margin-top: 80px;
}

input[type="text"] {
    padding-left: 15px;
    background: #D9D9D9;
    font-family: 'Roboto';
    font-style: normal;
    width: 275px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    color: #AA9F9F;
}

input[type="submit"] {
    font-family: 'Roboto';
    font-style: normal;
    width: 147px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    background: #FF5959;
    border: none;
    border-radius: 0px 5px 5px 0px;
    color: #FFFFFF;
}
footer{
    margin-top: 130px;
    height: 177px;
    background-color: #0B0D17;
    text-align: center
}

.footer-text-title {
    padding-top: 43px;
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.5px;
    color: #FF5959;
}

.footer-text-discription {
    padding-top: 24px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;
}